* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body,
html {
    height: 100%;
}

body {
    color: #6C6C6C;
    font-size: 12px;
    font-family: '微软雅黑', Arail;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #6C6C6C;
    cursor: pointer;
}

img,
input {
    border: 0 none;
    vertical-align: middle;
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

b,
em {
    font-weight: normal;
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 995px;
    margin: 0 auto;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
    outline: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: bottom;
    margin-right: 10px;
}

input[type='checkbox']:checked {
    width: 15px;
    height: 15px;
    outline: none;
    -webkit-appearance: checkbox;
    background-color: #fff;
    vertical-align: bottom;
}